<div class="child-B-container">
    <div class="heading">
        <h1> Financials </h1>
        <input type="text" class="form-control" ng-model="$ctrl.inputB" ng-change="$ctrl.makeFormDirty()">
    </div>

    <div class="banner-container">
        <div class="navigation-banner" ng-show="$ctrl.showNavigationBanner">
            <span> This is the navigation banner. Should I navigate? </span>
            <button class="btn btn-success" ng-click="$ctrl.navigateFromBanner(true)"> Yes </button>
            <button class="btn btn-warning" ng-click="$ctrl.navigateFromBanner(false)"> No </button>
        </div>

        <div class="save-decision-banner" ng-show="$ctrl.showSaveDecisionBanner">
            <span> This is the save decision banner. This is FYI only. No interaction </span>
        </div>
    </div>
</div>